$shape1: darken(#80A7FF,6);
$shape2: darken(#6C89E5,4);
$shape3: darken(#607ACC,2);
$shape4: #546AB2;
$shape5: lighten(#485C93,2);
$shape6: darken(#7692FF,4);

@keyframes shapeFlip1 {
    from {
        transform: rotate3d(-1.732,1,0,90deg);
    }
    to {
        transform: rotate3d(-1.732,1,0,0deg);
    }
}

@keyframes shapeFlipY {
    from {
        transform: rotate3d(0,1,0,90deg);
    }
    to {
        transform: rotate3d(0,1,0,0deg);
    }
}

@keyframes shapeFlip3 {
    from {
        transform: rotate3d(1.732,1,0,90deg);
    }
    to {
        transform: rotate3d(1.732,1,0,0deg);
    }
}

@keyframes shapeFlip4 {
    from {
        transform: rotate3d(-1.732,1,0,90deg);
    }
    to {
        transform: rotate3d(-1.732,1,0,0deg);
    }
}

@keyframes shapePop6 {
    0% {
        transform: scale(0.1);
    }
    2% {
        opacity: 1;
    }
    20% {
        transform: scale(1.45);
    }
    33% {
        transform: scale(1.45) rotate(0turn);
    }
    85% {
        transform: scale(1) rotate(2turn);
    }
    100% {
        transform: rotate(0turn);
        opacity: 1;
    }
}

.anim-shape-1 {
    animation: 0.2s ease-out 0.4s forwards shapeFlip1;
}

.anim-shape-2 {
    animation: 0.2s ease-out 0.6s forwards shapeFlipY;
}

.anim-shape-3 {
    animation: 0.2s ease-out 0.8s forwards shapeFlip3;
}

.anim-shape-4 {
    animation: 0.2s ease-out 1.0s forwards shapeFlip4;
}

.anim-shape-5 {
    animation: 0.2s ease-out 1.2s forwards shapeFlipY;
}

.anim-shape-6 {
    animation: 0.7s ease-in-out 1.4s forwards shapePop6;
}

#shape-1 {
    fill: $shape1;
    
    transform-origin: left bottom;
    transform: rotate3d(-1.732 , 1 , 0 , 90deg);
    
}

#shape-2 {
    fill: $shape2;
    -webkit-transform-origin: right bottom;
    FIREFOXtransform-origin: center bottom;
    transform: rotate3d(0,1,0,90deg);
}

#shape-3 {
    fill: $shape3;
    
    transform-origin: left top;
    transform: rotate3d(1.732,1,0,90deg);
}

#shape-4 {
    fill: $shape4;
    
    transform-origin: right top;
    transform: rotate3d(-1.732 , 1 , 0 , 90deg);
}

#shape-5 {
    fill: $shape5;
    -webkit-transform-origin: center bottom;
    transform-origin: left top;
    transform: rotate3d(0,1,0,90deg);
}

#shape-6 {
    fill: $shape6;
    
    transform-origin: left center;
    opacity: 0;
}

@-moz-document url-prefix() {
    #shape-1 {
        fill: $shape1;

        transform-origin: center/* bottom*/;
        transform: rotate3d(-1.732 , 1 , 0 , 90deg);

    }

    #shape-2 {
        fill: $shape2;
        transform-origin: center/* bottom*/;
        transform: rotate3d(0,1,0,90deg);
    }

    #shape-3 {
        fill: $shape3;

        transform-origin: center/* top*/;
        transform: rotate3d(1.732,1,0,90deg);
    }

    #shape-4 {
        fill: $shape4;

        transform-origin: center/* top*/;
        transform: rotate3d(-1.732 , 1 , 0 , 90deg);
    }

    #shape-5 {
        fill: $shape5;

        transform-origin: center /*top*/;
        transform: rotate3d(0,1,0,90deg);
    }

    #shape-6 {
        fill: $shape6;

        transform-origin: center/* center*/;
        opacity: 0;
    }
}