@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

$z-layers: (
    heading-wrapper: 1,
    icon-link: 5,
    headshot: 5,
    page-wrapper: 5,
    contact: 0,
    nav: 99,
    loading-screen: 1000
);

@function z($key) {
  @if map-has-key($z-layers, $key) {
    @return map-get($z-layers, $key);
  }

  @warn "Unknown `#{$key}` in $z-layers.";
  @return null;
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-down {
    @media (max-width: 900px) { @content; }
}

@mixin for-tablet-landscape-down {
    @media (max-width: 1200px) { @content; }
}

@mixin for-small-laptop-down {
    @media (max-width: 1400px) { @content; }
}

    @mixin for-big-desktop-up {
    @media (min-width: 1650px) { @content; }
}

